In [2]:
import pandas as pandas

import file_helper

geochem_data = pandas.read_excel(file_helper.get_geo_chem_file_path(), 'dubki_h_tau')

In [3]:
geochem_data

      from date    to date  events    ascend   maximum   descend   minimum
0    2004-01-01 2004-12-31      41  2.021409  0.846639  1.065538  0.686655
1    2004-01-02 2005-01-01      42  1.973066  0.901546  1.040415  0.670327
2    2004-01-03 2005-01-02      42  1.973066  0.901546  1.040415  0.670327
3    2004-01-04 2005-01-03      42  1.973066  0.901546  1.040415  0.670327
4    2004-01-05 2005-01-04      42  1.973066  0.901546  1.040415  0.670327
...         ...        ...     ...       ...       ...       ...       ...
5728 2020-12-28 2021-12-27     148  1.349174  0.986524  0.957492  0.864184
5729 2020-12-29 2021-12-28     148  1.299934  1.017961  0.946520  0.855493
5730 2020-12-30 2021-12-29     149  1.291307  1.030417  0.940153  0.849907
5731 2020-12-31 2021-12-30     150  1.282681  1.042874  0.956106  0.827372
5732 2021-01-01 2021-12-31     150  1.282681  1.056310  0.956106  0.802483

[5733 rows x 7 columns]